<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pair Programming Bot</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div class = "container">
      <h1><%= @question %></h1>
      <%= yield %>
  </div>
  </body>
</html>
