<!-- Instance variables from sinatra.rb subsituted into template-->
<!-- Think mail merge fields-->

<div class="container">
  <h1><%= @question %></h1>
  <div class="buttons">
    <ul>
      <li><a class="btn btn-primary continue" href="<%= @continue %>">Continue</a></li>
    </ul>
  </div>
</div>